* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  color: #333;
}

.container {
  position: relative;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}
.container2 {
  position: relative;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-image: url('./images/suisougaku.png'), url('./images/suisougaku_otona.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left 20px bottom 200px, right 20px bottom 200px; /* 下に20px移動 */
  background-size: 30%, 25%; /* 画像サイズを調整 */
}

h1 {
  font-size: 2.5rem;
  color: #4caf50;
  margin-bottom: 1rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
  color: #4caf50;
  margin-bottom: 0.5rem;
}

/* スマホ向けの設定（幅768px以下の場合に画像を非表示にする） */
@media (max-width: 768px) {
  .container {
    background-image: none; /* 背景画像を非表示 */
  }
  h1 {
    font-size: 2.0rem;
    color: #4caf50;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.0rem;
    color: #4caf50;
    margin-bottom: 0.5rem;
  }
}


.details, .program {
  margin-bottom: 1rem;
}

.date, .time, .venue, .admission {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.program h2 {
  font-size: 1.5rem;
  color: #4caf50;
  margin-bottom: 0.5rem;
}

.program ul {
  list-style: none;
  padding: 0;
}

.program li {
  margin: 0.2rem 0;
}

.admission {
  font-size: 1.3rem;
  color: #ff6347;
  font-weight: bold;
}
